#virtual-keyboard {
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-top:40px;
}

.key {
  font-size: 24px;
  min-width: 50px;
  width: auto;
  height: 50px;
  margin: 5px;
}

textarea {
  padding-top: 30px;
  width: 950px;
  min-height: 200px;
}

.active {
  background-color: lightgray;
}